@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    /* Paleta de cores */

    --blue1: #2EC3FF;
    --blue2: #2E81FF;
    --blue3: #1164e2;

    --purple1: #2E3FFF;
    --purple2: #602EFF;
    --purple3: #A52EFF;
    --purple4: #c277fc;
    
    --gray1: #3E3E40;
    --gray2: #202020;
    --gray3: #151516;
    --gray4: #0C0C0D;
    --fonte-padrao: 'Poppins', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fonte-padrao);
}

html, body{
    height: 100%;
}

body{
    /* height: 150vh; alterar depois */
    display: flex; /* Usando flexbox para organizar os elementos */
    flex-direction: column; /* Colocando os filhos em uma coluna */
    background-color: var(--gray2);
    color: whitesmoke;
}

header{
    margin-left: 70px;
    width: 100%;
    /* background-color: var(--gray4); */
    padding: 10px;
    box-shadow: 0px 3px var(--purple2);
    position: fixed;
    backdrop-filter: blur(15px);
}

header > div{
    background-color: var(--gray2);
    height: 60px;
    width: 180px;
    border-radius: 6px;
    transition-duration: 0.5s;
}

header > div:hover{
    background-color: #fff;
    transition-duration: 0.5s;
}

header > div > a{
    color: white;
    text-decoration: none;
    /* height: 60px;
    width: 180px; */
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > div > a > h1{
    background: linear-gradient(to right, #9f9f9f 0, #fff 10%, #868686 20%);
    background-position: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
    animation-fill-mode: forwards;
    color: white;
    margin-top: 0;
    font-size: 24px;
    transition-duration: 0.5s;
}

header > div:hover > a > h1{
    background: linear-gradient(to right, var(--purple4) 0, #fff 10%, var(--purple4) 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: var(--purple3) 0px 0px 15px;
    transition-duration: 0.5s;
}

@keyframes shine {
    0% {
      background-position: 0px;
    }
    100% {
      background-position: 120px;
    }
}

header > div > a > img{
    max-width: 40px; /* Ajusta o tamanho da imagem para caber no <a> */
    height: auto; /* Mantém a proporção da imagem */
    transition-duration: 0.5s;
}

header > div:hover > a > img{
    filter: invert(100%);
    transition-duration: 0.5s;
}

nav{
    width: 65px;
    height: 100%;
    background-color: var(--gray3);
    --gray2: #252526;
    padding: 10px 8px 0px 8px;
    box-shadow: 5px 0px var(--purple2);
    border-radius: 0px 8px 8px 0px;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    /* transition-duration: 0.3s; */
    transition: 0.3s ease-in-out;
}

nav.open{
    width: 250px;
    padding: 10px 15px 0px 15px;
    background-color: rgba(21, 21, 22, 0.5);
    backdrop-filter: blur(10px);
    transition-duration: 0.3s;
}

.expand-btn{
    width: 100%;
    padding-left: 10px;
    transition-duration: 0.3s;
}

nav.open > .expand-btn{
    padding-left: 0px;
    transition-duration: 0.3s;
}

.expand-btn > i{
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    transition-duration: 0.3s;
}

nav.open > .expand-btn > i{
    font-size: 24px;
    transition-duration: 0.3s;
}

.nav-list{
    margin-top: 30px;
    height: 100%;
    list-style-type: none;
}

.nav-list > li.nav-item{
    margin-top: 10px;
    padding-left: 8px;
    /* background-image: var(--gray2); */
    background-image: linear-gradient(to right, var(--purple3), var(--purple2), rgba(255, 255, 255, 0), var(--gray2) 50%);
    background-size: 300% 100%;
    background-position: right;
    transition: background-position 0.3s ease-in-out;
    border-radius: 5px;
}

nav.open > .nav-list > li.nav-item{
    opacity: 50%;
}

nav.open > .nav-list > li.nav-item:hover{
    /* background-image: linear-gradient(to right, var(--purple3), var(--purple2), rgba(255, 255, 255, 0)); */
    /* background-color: var(--purple2); */
    background-position: left;
    opacity: 100%;
    transition-duration: 0.4s;
    border-radius: 8px;
}

.nav-list > li.nav-item > a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 4%;
    display: flex;
    line-height: 40px;
}

.nav-list > li.nav-item > a > .nav-txt{
    margin-left: 60px;
    opacity: 0%;
    transition-duration: 0.35s;
}

nav.open >.nav-list > li.nav-item > a > .nav-txt{
    margin-left: 30px;
    opacity: 100%;
    transition-duration: 0.35s;
}

.nav-list > li.nav-item > a > .nav-icon > i{
    font-size: 30px;
}

main{
    flex: 1; /* Faz com que o main ocupe o espaço restante */
    padding-top: 80px;
    margin-left: 70px;
}

#projects-main{
    margin-left: 0px;
}

article{
    box-shadow: 0px -80px var(--gray3); /* sombra para ficar como background do header quando a página estiver totalmente scrollada para cima (isso porque o header esta com o background com um blur) */
    padding: 30px 30px 20px 40px;
}

.title-h1{
    padding: 10px;
    border-radius: 8px;
    font-size: 36px;
    background: linear-gradient(90deg, var(--purple3), var(--purple2), rgba(255, 255, 255, 0) 80%);
}

#projects-h1{
    margin-left: 70px;
}

main div.horizontal-container{
    margin: 30px 0px;
    display: flex;
    align-items: center;
    gap: 30px;
} 


main div.right-container{
    /* padding: 5% 10% 5% 12%; */
    padding: 5% 10% 5% 110px;
}

main div.right-container h2{
    padding: 10px 20px 10px 10px;
    margin: 0px 0px 15px 0px;
    border-radius: 8px;
    font-size: 30px;
    background: linear-gradient(90deg, var(--blue3), var(--purple2), rgba(255, 255, 255, 0) 90%);
}

main div.left-container{
    /* padding: 5% 5% 5% 10%; */
    padding: 5% 5% 5% 200px;
    background-color: white;
    color: black;
    box-shadow: 0px 0px 35px black;
}

main div.left-container h2{
    color: white;
    padding: 10px 20px 10px 10px;
    margin: 0px 0px 15px 0px;
    border-radius: 8px;
    font-size: 30px;
    background: linear-gradient(90deg, var(--blue2), var(--blue1), rgba(255, 255, 255, 0) 100%);
}

main div.horizontal-container > #personal-img{
    background-color: var(--gray1);
    border: 3px solid gray;
    border-radius: 50%;
    /* min-width: 25%; */
    min-width: 25%;
    width: 25%;
    max-width: 25%;
    height: 22dvw;
    object-fit: cover; /* Isso vai ajustar a imagem para preencher o círculo sem distorção */
}

main div.horizontal-container > img{
    background-color: var(--gray1);
    border: 3px solid gray;
    border-radius: 8px;
    width: 40%;
    max-width: 40%;
    height: auto;
    /* box-shadow: 0px 0px 50px var(--purple2);  */
}

main div.horizontal-container > div > h1{
    font-size: 36px;
    font-weight: bold;
}

main div.horizontal-container > div > p{
    /* padding: 0% 20% 0% 0%; */
    text-align: justify;
    font-size: 18px;
}

main div.vertical-container{
    margin: 80px 0px 50px 0px;
    text-align: center;
}

main div.vertical-container > h2{
    padding: 0px 0px 20px 0px;
    /* text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.425); */
}

main div.vertical-container > a{
    color: white;
    background: linear-gradient(to right, var(--purple2), var(--purple3), var(--purple3), white, var(--purple3), var(--purple3), var(--purple2));
    background-position: right;
    background-size: 300% 100%;
    border: 3px solid gray;
    border-radius: 8px;
    padding: 35px 110px 25px 110px;
    transition: 0.3s ease-in-out;
}

main div.vertical-container > a:hover{
    background-position: left;
    transition: 0.3s ease-in-out;
}

main div.vertical-container > a > i{
    font-size: 40px;
}

main p{
    text-align: justify;
}

footer{
    background-color: var(--gray4);
    width: 100%;
    padding: 30px 0px 10px 70px;
    text-align: center;
}

footer > #social-media-icons{
    margin: 15px 0px 30px 0px;
}

footer > #social-media-icons > .footer-link{
    display: inline-block; /* Garante que o link se comporte como um bloco de nível de linha */
    color: white;
    text-decoration: none;
    font-size: 38px;
    line-height: 50px;
    transition-duration: 0.4s;
}

footer > #social-media-icons > .footer-link:hover{
    transform: scale(1.3); /* Aumenta o ícone 20% */
    text-shadow: 0px 0px 30px var(--purple3);
    transition-duration: 0.25s;
}

footer > #social-media-icons > .footer-link > i{
    margin: 0px 5px;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Suaviza a transição do aumento */
}

footer > p > strong{
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.63);
}

@media (max-width: 768px){ /* para telas menores que 768px */
    
    header{
        backdrop-filter: blur(8px);
    }

    main div.horizontal-container{
        flex-direction: column;
        padding: 5%;
    }
    
    main div.horizontal-container > img{
        width: 80%;
        max-width: 100%;
    }

    main div.horizontal-container > #personal-img{
        min-width: 250px !important;
        width: 250px !important;
        height: 250px !important;
        margin: 5% 5% 0% 0%;
    }
    
    main div.horizontal-container > div > p{
        padding: 0% 5% 0% 0%;
        text-align: justify;
        font-size: 18px;
    }
    
    main div.right-container{
        /* padding: 5% 10% 5% 12%; */
        padding: 5% 5% 5% 110px;
    }

    main div.left-container{
        /* padding: 5% 5% 5% 10%; */
        padding: 5% 5% 5% 110px;
        background-color: white;
        color: black;
    }

    main div.vertical-container > a{
        color: white;
        background: linear-gradient(to right, var(--purple2), var(--purple3), var(--purple3), white, var(--purple3), var(--purple3), var(--purple2));
        background-position: right;
        background-size: 300% 100%;
        border: 3px solid gray;
        border-radius: 8px;
        padding: 30px 90px 20px 90px;
        transition: 0.3s ease-in-out;
    }
}